<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Action On Your Energy Data!</h2>
                <hr class="light">
                <p class="text-faded">aktor-e develops factory intelligence software for energy efficiency, predictive maintenance, and operation analytics. We build on cutting-edge research in AI, robotics, automation, and large-scale optimization. Together, we level up your manufacturing execution system.</p>
            </div>
        </div>
    </div>
</section>
